@import url('reset.scss');

html,
body,
#application-root {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;

  font-size: 16px;

  overflow: hidden;
}

#application-root {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
