{
  "minified": true,
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10",
          "browsers": [
            "> 5.0%",
            "not dead"
          ]
        },
        "modules": false,
        "loose": true,
        "useBuiltIns": "entry",
        "corejs": "3",
        "exclude": [ "transform-async-to-generator", "transform-regenerator" ]
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-transform-react-constant-elements",
    [ "@babel/plugin-proposal-decorators", { "legacy": true } ],
    [ "@babel/plugin-proposal-class-properties", { "loose": true } ],
    [ "module:fast-async", { "spec": true } ],
    [ "transform-imports", {
      /* Example:
      "@material-ui/core": {
        "transform": "@material-ui/core/${member}",
        "preventFullImport": true
      }*/
    } ]
  ]
}
